<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Return from Leave Form</h3>
        </div>
        
        <div class="panel-body">
        	<div class='row'>
        		<div class='col-md-6 col-sm-6 col-xs-12 col-md-offset-2'>
        		<label><input type="radio" name="sex" value="male" class=''>Self </label> 
				<label><input type="radio" name="sex" value="female" class=''>On Behalf</label>
				</div>
        	</div>
        	<div class='row'>
        		<label class='col-md-4'>Select User</label>
        		<input class='col-md-4' type="text" class="form-control" placeholder="Username">
        	</div>
        	<div class='row'>
        		<label class='col-md-4'>Select User</label>
        		<input class='col-md-4' type="text" class="form-control" placeholder="Username">
        	</div>
        	<div class='row'>
        		<label class='col-md-4'>Select User</label>
        		<input class='col-md-4' type="text" class="form-control" placeholder="Username">
        	</div>
        	<div class='row'>
        		<label class='col-md-4'>Select User</label>
        		<input class='col-md-4' type="text" class="form-control" placeholder="Username">
        	</div>
          <div class="input-group col-md-4">
          	<label></label>
            <input type="text" class="form-control" placeholder="Username">
            
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="Currency">
          </div>
          <br>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">{}</span>
            <input type="text" class="form-control" placeholder="Code">
          </div>
        </div>
      </div>
    </div>